<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OxronApiSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://s4.oxron.com/OxronApi.asmx" binding="basicHttpBinding"
                bindingConfiguration="OxronApiSoap" contract="OxronApi.OxronApiSoap"
                name="OxronApiSoap" />
        </client>
    </system.serviceModel>
</configuration>